@media (min-width: 992px) {
   #userInformation{
       margin-left:20%;
     }
   }
@media (min-width: 768px) {
  #userInformation{
      margin-left:15%;
      }
  }
body {
  font-family: 'Prompt', serif;
  background-color: #f2f2f2;
}
/*::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {

  text-align: center;
}
::-moz-placeholder {

  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}*/
.footer {
  background: #f5f5f5;;
  padding: 10px 0;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease;
}
.footer a:hover {
  color: white;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#installment{
  text-align: center;
  text-align-last: center;
}

/*select, input {
  text-align: center;
  text-align-last: center;
}*/
#contact-form {
  background-color:#FFFFFF;
  padding: 5% 5% 5% 5%;
  border-style: solid;
  border-color: #336666;
  margin-top: 20%;
  text-align: center;
}
#find_promotion{
  color:#ffffff;
  background-color:#62b29e;
  width:100%;
}
#find_promotion:hover {
  opacity:0.7;
}
#success_message{ display: none;}
