@media (min-width: 992px) {
   #userInformation{
       margin-left:20%;
     }
   }
@media (min-width: 768px) {
  #userInformation{
      margin-left:15%;
      }
  }
body {
  font-family: 'Prompt', serif;
  background-color: #f2f2f2;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
.footer {
  background: #f5f5f5;;
  padding: 10px 0;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease;
}
.footer a:hover {
  color: white;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#installment{
  text-align: center;
  text-align-last: center;
}

select, input {
  text-align: center;
  text-align-last: center;
}
#contact-form {
  background-color:#FFFFFF;
  padding: 5% 5% 5% 5%;
  border-style: solid;
  border-color: #336666;
  margin-top: 20%;
  text-align: center;
}
#find_promotion{
  color:#ffffff;
  background-color:#62b29e;
  width:100%;
}
#find_promotion:hover {
  opacity:0.7;
}
#success_message{ display: none;}



@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}
